# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
user = Peter Hahn
email = peterh@jauntvr.com
	excludesfile = /Users/peterh/.gitignore_global
[user]
	name = Peter Hahn
	email = peterh@jauntvr.com
[alias]
    co = checkout
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    logf = log --pretty=fuller --stat
    logp = log --pretty=fuller --stat -p
    ll = log --oneline
[merge]
	tool = p4mergetool
[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[difftool]
	prompt = false
[push]
	default = simple
